<!-- <div class="home-banner">
  <h1>Personal Cocktail Library</h1>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%#= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 10 %>
    </div>
  </div>
</div> -->

<div class="container">
  <h1>Cocktails Index</h1>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-4">
        <h3>
          <%= link_to cocktail.name, cocktail_path(cocktail) %>
        </h3>
      </div>
    <% end %>
  </div>

  <%= link_to "Add Cocktail", new_cocktail_path, class: "btn btn-primary btn-lg" %>
</div>
